/* -----------------------COLORS----------------------- */

$primary-color: blue;
$secondary-color: green;

/* ---------------------BOX SHADOW--------------------- */

$box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2);
