@import "variables";
@import "media-queries";

.header {
  height: 10%;
  border-bottom: 0.1rem solid rgb(189, 189, 189, 0.2);
  box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2);
  font-family: "Yellowtail", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  backdrop-filter: blur(5rem);

  &__logo {
    font-size: 5rem;
  }

  &__icon {
    position: absolute;
    top: 25%;
    right: 5%;
    font-size: 4rem;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      transform: scale(1.1) rotate(1turn);
    }
  }

  @include phone {
    display: none;
  }
}
