@import "variables";

.header {
  height: 10%;
  border-bottom: 0.1rem solid rgb(189, 189, 189, 0.2);
  box-shadow: $box-shadow;
  font-family: "Yellowtail", cursive;
  display: flex;
  align-items: center;
  justify-content: center;

  &__logo {
    font-size: 5rem;
  }
}
