@import "variables";
@import "media-queries";

.header {
  height: 10%;
  border-bottom: 0.1rem solid rgb(189, 189, 189, 0.2);
  box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2);
  font-family: "Yellowtail", cursive;
  display: flex;
  align-items: center;
  justify-content: center;

  &__logo {
    font-size: 5rem;
  }

  @include phone {
    display: none;
  }
}
