@import "variables";

.footer {
  height: 10%;
  border-top: 0.1rem solid rgb(189, 189, 189, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2);

  &__text {
    font-size: 1.8rem;
    font-weight: 100;
  }
}
